{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>
    {% block page_title %}{% endblock page_title %} | Grandbnb</title>
    <script src="https://kit.fontawesome.com/1775b06226.js" crossorigin="anonymous"></script>
</head>
<body class="text-gray-800 mt-24">
    {% include 'partials/messages.html' %}
    <header class="inset-0 container max-w-full flex items-center justify-between px-8 h-20 border-b border-gray-200 shadow-md fixed bg-white">
        <div class="flex items-center">
            <a href="{% url "core:home"  %}" >
                <img class="w-32" src="{% static 'img/bnb-logo.png' %}" />
            </a>
        </div>
        <div>
            {% block search-bar %}
            <form method="GET" action="{% url "rooms:search" %}">

                <div class="flex items-center">
                    <input class="py-3" name="city" placeholder="{% trans "Start your search" %}" /> 
                    <i class="fas fa-search text-white bg-yellow-500 py-2 px-2 rounded-full -m-10"></i>
                </div>
                
            </form>
            {% endblock search-bar %}
        </div>
        {% include 'partials/nav.html' %}
    </header>
    
    {% block content %}
    {% endblock content %}

    {% include 'partials/footer.html' %}
    <script>
        const langSelect =document.getElementById("js-lang");
        const handleLangChange = () => {
            const selected = langSelect.value;
            fetch(`{% url 'users:switch-language' %}?lang=${selected}`).then(()=>window.location.reload());
        }
        langSelect.addEventListener("change", handleLangChange);
    </script>
</body>
</html>
