{% extends 'base.html' %}


{% block page_title %}
    Sign Up
{% endblock page_title %}
{% block search-bar %}
{% endblock search-bar %}

{% block content %}

<div class="container md:w-1/2 lg:w-5/12 xl:w-1/4 mx-auto my-10 flex flex-col items-center p-6 border border-gray-300">

    {% include 'partials/social_login.html' %}
    
    <form method="POST", action="{% url "users:signup" %}" class="w-full">
        {% csrf_token %}

        {% if form.errors %}	                
            {% for error in form.non_field_errors %}
                <span class="text-red-500 font-medium text-sm">{{error}}</span>
            {% endfor %}
        {% endif %}

        <div class="{% if form.first_name.errors %}has_error{% endif %} flex flex-col w-full text-left rounded-t-lg py-3 px-5 font-medium focus:border-gray-800 focus:outline-none border-2 border-gray-400 border-b-0">
            
            {{form.first_name}}

            {% if form.first_name.errors %}
                {% for error in form.first_name.errors %}
                    <span class="text-red-500 font-medium text-sm">{{error}}</span>
                {% endfor %}
            {% endif %}
            
        </div>

        <div class="{% if form.last_name.errors %}has_error{% endif %} flex flex-col w-full text-left  py-3 px-5 font-medium focus:border-gray-800 focus:outline-none border-2 border-gray-400">
            
            {{form.last_name}}
            
            {% if form.last_name.errors %}
                {% for error in form.last_name.errors %}
                    <span class="text-red-500 font-medium text-sm">{{error}}</span>
                {% endfor %}
            {% endif %}
                
        </div>

        <div class="{% if form.email.errors %}has_error{% endif %} flex flex-col w-full text-left  py-3 px-5 font-medium focus:border-gray-800 focus:outline-none border-2 border-gray-400 border-t-0">
            
            {{form.email}}
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <span class="text-red-500 font-medium text-sm">{{error}}</span>
                {% endfor %}
            {% endif %}
            
        </div>

        <div class="{% if form.password.errors %}has_error{% endif %} flex flex-col w-full  text-left  py-3 px-5 font-medium focus:border-gray-800 focus:outline-none border-2 border-gray-400 border-t-0 border-b-0">
            {{form.password}}

            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <span class="text-red-500 font-medium text-sm">{{error}}</span>
                {% endfor %}
            {% endif %}
            
        </div>

        <div class="{% if form.password1.errors %}has_error{% endif %} flex flex-col w-full text-left rounded-b-lg py-3 mb-6 px-5 font-medium focus:border-gray-800 focus:outline-none border-2 border-gray-400">
            {{form.password1}}

            {% if form.password1.errors %}
                {% for error in form.password1.errors %}
                    <span class="text-red-500 font-medium text-sm">{{error}}</span>
                {% endfor %}
            {% endif %}
            
        </div>
        
        <button class="w-full bg-red-400 py-3 text-gray-800 rounded-lg">Sign Up</button>
    </form>

    <div class="mt-4">
        <span class="mr-3">Have an account?</span>
        <a href="{% url 'users:login' %}" class=" text-blue-400 font-medium">Log in</a>
    </div>

</div>

{% endblock content %}